@font-face {
	font-family: 'wikifishicons';
	src:url('fonts/wikifishicons.eot?scnu3l');
	src:url('fonts/wikifishicons.eot?#iefixscnu3l') format('embedded-opentype'),
		url('fonts/wikifishicons.woff?scnu3l') format('woff'),
		url('fonts/wikifishicons.ttf?scnu3l') format('truetype'),
		url('fonts/wikifishicons.svg?scnu3l#wikifishicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="wf-icon-"], [class*=" wf-icon-"] {
	font-family: 'wikifishicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wf-icon-dark:before {
	content: "\e602";
}

.wf-icon-light:before {
	content: "\e603";
}

.wf-icon-any:before {
	content: "\e600";
}

.wf-icon-danger:before {
	content: "\e601";
}

.wf-icon-dry_package_food:before {
	content: "\e604";
}

.wf-icon-eggylayer:before {
	content: "\e605";
}

.wf-icon-fish:before {
	content: "\e606";
}

.wf-icon-live_worms:before {
	content: "\e60a";
}

.wf-icon-medium:before {
	content: "\e60b";
}

.wf-icon-middle:before {
	content: "\e60c";
}

.wf-icon-peaceful:before {
	content: "\e60d";
}

.wf-icon-plants:before {
	content: "\e60e";
}

.wf-icon-top:before {
	content: "\e60f";
}

