wf-site
   wf-navbar(transclude-to='site-head', user='user')
   .container(transclude-to='site-body')
      .wf-fish-detail
         .wf-fish-icon-container
            img.wf-fish-icon(ng-src='{{vm.fish.url_picture}}', wf-loading)

         .wf-fish-infos
            p(ng-show='vm.fish.usual_name') Nome Usual: {{vm.fishService.fish.usual_name | ucfirst}}
            p(ng-show='vm.fish.cientific_name') Nome Cientifico: {{vm.fishService.fish.cientific_name | ucfirst}}
            p(ng-show='vm.fish.ph') PH: {{vm.fishService.fish.ph}}
            p(ng-show='vm.fish.dh') DH: {{vm.fishService.fish.dh}}
            p(ng-show='vm.fish.temperature') Temperatura: {{vm.fishService.fish.dh}}
            p(ng-show='vm.fish.maximum_length') Tamanho Máximo: {{vm.fishService.fish.maximum_length}}cm
            p(ng-show='vm.fish.aquarium_liters') Tamanho Aquario: {{vm.fishService.fish.aquarium_liters}} L
            p(ng-show='vm.fish.aquarium_setup') Configuração do Aquario: {{vm.fishService.fish.aquarium_setup}}
            p(ng-show='vm.fish.alimentation') Alimentação: {{vm.fishService.fish.alimentation}}
            p(ng-show='vm.fish.reproduction') Reprodução: {{vm.fishService.fish.reproduction}}
            p(ng-show='vm.fish.temperament') Temperamento: {{vm.fishService.fish.temperament}}
            p(ng-show='vm.fish.swimming') Swimming: {{vm.fishService.fish.swimming}}
            p(ng-show='vm.fish.region') Região: {{vm.fishService.fish.region}}

      wf-fish-new-comment(user='user', fish='vm.fish')

      .wf-fish-comments.panel.panel-default(ng-show='vm.comments.length > 0')
         .panel-heading Comentários

         ul.list-group
            li.list-group-item.wf-fish-comment(ng-repeat='comment in vm.comments | orderBy:["-likes.length", "updated"]')
               wf-comment(comment='comment', user='user')