.panel.panel-default.wf-fish-thumbnail(ng-click='gotoFishDetail()')
    .wf-fish-icon-container
        img.wf-fish-icon(ng-src='{{fish.url_picture}}' wf-loading)

    div
        //img(ng-src='http://placehold.it/175x25/888/000&text={{fish.usual_name}}')
        div.wf-icon