.form(name='wfNewCommentForm', novalidate, role='form')
   .form-group
      textarea.form-control(name='text', type='text', ng-model='text', rows="3", placeholder='{{placeholder}}', required, ng-disabled='!user.authenticated')
   .form-group
      button.btn.btn-default(type='submit', ng-click='sendComment()', ng-disabled='!user.authenticated || !text', ng-class='{"btn-primary": text}') Enviar