.wf-fish-comments
    .wf-fish-comment(ng-repeat='comment in comments')
        .wf-comment-info
            .wf-comment-user {{comment.user}}
            .wf-comment-score {{comment.score}}
            .wf-comment-updated {{comment.updated}}

            p {{comment.text}}
