form.form-horizontal(role='form' name='searchFish')
   .form-group
      .text-center
         input.form-control.wf-search-input#search(type='text' ng-model='vm.search')
   .form-group
      .text-center
         button.btn.btn-default(ng-click='vm.submit()') Pesquisar

   .form-group(ng-repeat='option in vm.options')
      h5 {{option.title}}
      .checkbox(ng-repeat='item in option.values')
         label
            input(type='checkbox', ng-model='item.value')
            | {{item.title}}
