.text-center
    input.form-control.wf-search-input#search(type='text' ng-model='vm.search')
.text-center
    button.btn.btn-default(ng-click='vm.submit()') Pesquisar

div.wf-options
    div(ng-repeat='option in vm.options').wf-option-group
        h5.wf-option-title {{option.title}}

        div.checkbox(ng-repeat='item in option.values')
            label.wf-option-checkbox
                input.wf-option-input(type='checkbox', ng-model='item.value')
                | {{item.title}}