extends layout

block body

    div(ng-view)

    script(src='public/js/app.js')
    script(src='public/js/services.js')
    script(src='public/js/controllers.js')
    script(src='public/js/factories.js')
    script(src='public/js/filters.js')
    script(src='public/js/directives.js')
