extends layout

block body

    div(ng-view)

    script(src='public/js/app.js')

    // Old style:
    script(src='public/js/controllers.js')
    script(src='public/js/directives.js')

    // New Style:
    script(src='public/js/filters/filters.module.js')

    script(src='public/js/factories/factories.module.js')
    script(src='public/js/factories/multitransclude.factory.js')

    script(src='public/js/controllers/controllers.module.js')

    script(src='public/js/services/services.module.js')
    script(src='public/js/services/fish.service.js')
    script(src='public/js/services/comment.service.js')

    script(src='public/js/directives/directives.module.js')
    script(src='public/js/directives/search.directive.js')
    script(src='public/js/directives/navbar.directive.js')
    script(src='public/js/directives/site.directive.js')
