doctype html
html(ng-app="wfApp")
    head
        meta(charset='utf8')
        base(href='/')
        title WikiFish Site

        link(rel='stylesheet', href='/css/app.css')
        link(rel='stylesheet', href='node_modules/bootstrap/dist/css/bootstrap.css')
    body
        block body