doctype html
html(ng-app="wfApp")
    head
        meta(charset='utf8')
        base(href='/')
        title WikiFish Site

        //link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Volkhov:400,400italic', type='text/css')
        //link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", type='text/css')
        link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css')

        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js')

        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-route.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-resource.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.4/angular-filter.js')
        script(src="https://app.userapp.io/js/userapp.client.js")
        script(src="https://app.userapp.io/js/angularjs.userapp.js")

        //script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-animate.js')
        link(rel='stylesheet', href='public/stylesheets/main.css', type='text/css')

    body
        block body