@import "base";
@import "bootstrap";
@import "compass/css3/border-radius";

.wf-logo {
  font-family: 'Volkhov', sans-serif;
  font-size: $font-size-h1;
}

.wf-big-logo {
  @extend .wf-logo;
  font-size: $font-size-h1 * 3;
  margin-top: $spacing-unit * 2;
}

.wf-search-input {
  width: $spacing-unit * 15 !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit / 2;
}
.wf-fish-thumbnail {
  display: inline-block;
  padding: $spacing-unit / 4;
  margin-right: $spacing-unit / 2;
  cursor: pointer;


  img.wf-fish-icon {
    height: auto;
    width: auto;
    max-width: 175px;
    max-height: 175px;
  }

  .wf-fish-icon-container {
    width: 175px;
    height: 175px;
  }
}

.wf-fish-detail {
  @extend .panel;
  @extend .panel-default;

  padding: $spacing-unit / 2;

  img.wf-fish-icon {
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 400px;
  }

  .wf-fish-infos {
    display: inline-block;
  }

  .wf-fish-icon-container {
    height: 400px;
    width: 400px;
    margin-right: 30px;
    display: inline-block;
    vertical-align: top;
  }

}

button.wf-btn-social {
  @include border-top-radius(4px !important);
  @include border-bottom-radius(4px !important);

  margin-bottom: 8px;
  width: 328px !important;
}

.wf-form-input {
  margin: 0 auto;
  float: none;
  width: 328px;
  height: 46px;
}

.wf-fish-comments {

  .wf-comment-user {
    font-weight: bold;
  }

  .wf-comment-likes {
    width: 40px;
  }

  ul.wf-comment-info {
      padding-left: 0px;
      margin-bottom: $spacing-unit / 2;

      li {
        display: inline-block;
        margin-right: 8px;
      }
  }

  .wf-comment-text {
    margin-left: $spacing-unit;
  }
}