@import "base";
@import "bootstrap";
@import "compass/css3/border-radius";

.wf-logo {
  font-family: 'Volkhov', sans-serif;
  font-size: $font-size-h1;
}

.wf-big-logo {
  @extend .wf-logo;
  @include responsive-attrs(font-size, $font-size-h1 * 1.5, $font-size-h1 * 2, $font-size-h1 * 2, $font-size-h1 * 3);
  @include responsive-attrs(margin-top, $spacing-unit / 2, $spacing-unit, $spacing-unit * 2, $spacing-unit * 3);
}
.wf-search-results {
  width: 100%;
  height: 100%;
  @include responsive-attrs(padding, $spacing-unit / 4, $spacing-unit / 3, $spacing-unit / 2, $spacing-unit);

  .wf-fish-thumbnail {
    display: inline-block;
    padding: $spacing-unit / 4;
    margin-right: $spacing-unit / 2;
    cursor: pointer;
    width: 20%;
    @include responsive-attrs(height, $spacing-unit * 7, $spacing-unit * 8, $spacing-unit * 9, $spacing-unit * 10);
    min-width: 275px;

    .wf-fish-icon-container {
      height: 85%;
      width: 100%;
      margin-bottom: 12px;

      img.wf-fish-icon {
        height: 100%;
        width: 100%;
      }
    }

    .wf-fish-details {
      .wf-icons {
        font-size: 1.5em;
        color: white;
        margin-right: 4px;
      }

      .wf-detail {
        margin-right: 4px;
        color: white;
        vertical-align: top;
      }


    }
  }
}

.hide-eq-sm {
  @include responsive-attrs(display, none, inline, inline, inline);
}


.wf-fish-detail {
  @extend .panel;
  @extend .panel-default;

  padding: $spacing-unit / 2;

  img.wf-fish-icon {
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 400px;
  }

  .wf-fish-infos {
    display: inline-block;
  }

  .wf-fish-icon-container {
    height: 400px;
    width: 400px;
    margin-right: 30px;
    display: inline-block;
    vertical-align: top;
  }

}

button.wf-btn-social {
  @include border-top-radius(4px !important);
  @include border-bottom-radius(4px !important);

  margin-bottom: 8px;
  width: 328px !important;
}

.wf-form-input {
  margin: 0 auto;
  float: none;
  width: 328px;
  height: 46px;
}

.wf-fish-comments {

  .wf-comment-user {
    font-weight: bold;
  }

  .wf-comment-likes {
    width: 40px;
  }

  ul.wf-comment-info {
      padding-left: 0px;
      margin-bottom: $spacing-unit / 2;

      li {
        display: inline-block;
        margin-right: 8px;
      }
  }

  .wf-comment-text {
    margin-left: $spacing-unit;
  }
}

.wf-search-not-found {
  font-size: $spacing-unit * 1.5;
  margin-top: $spacing-unit * 3;
}

.wf-search {

  .wf-option-group {
    display: inline-block;
    vertical-align: top;
    margin-right: $spacing-unit;
  }

  .wf-option-title {
    font-size: 18px;
    font-weight: 600;
  }

  .wf-options {
    @include responsive-attrs(margin-top, $spacing-unit / 2, $spacing-unit, $spacing-unit * 2, $spacing-unit * 3);
  }

  .margin-top {
    @include responsive-attrs(margin-top, $spacing-unit / 2, $spacing-unit, $spacing-unit * 2, $spacing-unit * 3);
  }

  a {
    color: $text-color !important;
  }

  button {
    margin-right: $spacing-unit / 5;
  }

  .wf-search-input {
    @include responsive-attrs(margin, ($spacing-unit/4) auto ($spacing-unit/4) auto, ($spacing-unit/3) auto ($spacing-unit/3) auto, ($spacing-unit/2) auto ($spacing-unit/2) auto, $spacing-unit auto $spacing-unit auto);
  }
}

.navbar-brand {
  line-height:12px;
  padding-top:20px;
  padding-bottom:5px;
}

.navbar-brand small {
  display: block;
  font-size: 10px;
  text-align: center;
  padding-top: 4px;
}